.leftsidebar {
  width: 100%;
  height: 90px;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  background: #fddcd8 !important;
  color: black;
  justify-content: space-evenly;
}

.leftsidebar__tab {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.leftsidebar__tab > h3 {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

/*  --------------------------------------------------------------------------------------------------- */

.header_items {
  margin-top: 15px;
  width: 100%;
  height: 150px;
  background-color: #fddcd8;
}

.dashboard_items {
  height: 150px;
  background-color: #fddcd8;
  display: flex;
  justify-content: space-evenly;
}

.dashboard_item > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;

  /* animation-delay: 150ms; */
  /* background-color: red; */
}

.dashboard_item > img:hover + h3 {
  cursor: pointer;
  text-decoration: underline;

  /* animation-delay: 150ms; */
  /* background-color: red; */
}

.dashboard_item > img {
  margin-top: 90%;
  width: 100px;
  border-radius: 50%;
  height: 105px;
}

.dashboard_item > h3 {
  color: black;
}
